<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="styles.css" />
</head>

<body>
    <main>
        <!-- defaultly method is set to get and action is after submit where should we be redirected+have to make api for post -->
        <!-- forms action must be = to the post route -->
        <form method="post" action="/contacts">
            <h1>Contact Now</h1>
            <input type="text" name="name" placeholder="name">
            <input type="email" name="email" placeholder="email">
            <button type="submit">Send message</button>
        </form>
    </main>
    
</body>
</html>